div#page-wrapper {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
div.timeline-board {
	width: 1200px;
	height: 250px;
	background-color: black;
	overflow: hidden;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

table
{	
	border-radius: 20px;
	font-size: 20px;
}
tr{ margin: 60px; }
td{ background-color: white; margin: 60px; width: 150px; height:150px; }
#pimg
{ background-size:100%;">
}
div.article-writer {
	position: absolute;
	top: 0;
	left: 10px;
	font-weight: bold;
}


