div#page-wrapper {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
div.timeline-board {
	width: 1200px;
	height: 250px;
	background-color: black;
	overflow: hidden;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

table
{
	font-size: 25px;
}
tr{ margin: 60px; }
td{ margin: 60px; width: 150px; height:150px; }
#pimg
{ background-size:100%;">
}
div.article-writer {
	position: absolute;
	top: 0;
	left: 10px;
	font-weight: bold;
}

div.film-black-part {
	background-color: black;
	width: 1200px;
	height: 30px;
}

div.film-white-part {
	background-color: white;
	width: 10px;
	height: 10px;
	margin: 7.5px 19px 7.5px 7.5px; 
	border-radius: 5px;
	display: inline-block;
}