@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
  font-family: 'Jeju Gothic', serif;
  background: #f2f2f2;
  background-image: url("xxx.png");
  background-size:100%;
  filter:alpha(opacity=0);
 }
h3{color: orange;}

div.fff {
	width: 600px;
	height: 200px;
	background-color: white;
	float:left;
	border: solid white 2px;
}
div.fff_img{
	width: 200px;
	height: 200px;
}

#top{ height: 130px; }

#friends_menu
{
	width: 1200px;
	margin: 0 auto;
	height: 100px;
	position: relative;
	border: solid white 6px;
	border-radius: 200px;
}
#friends_recommand
{
	width: 1200px;
	height:1000px;
	margin: 0 auto;
	
	display: none;
}
#friends_favorite
{
	width: 1200px;
	height:1000px;
	margin: 0 auto;
	padding: 30px;
	display: none;
}

#friends_find
{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#label_menu
{	
	position: absolute; left:300px;
	top: 10px; 
}
#label_menu label{ float: left; display:block; width: 200px; height: 50px;
	background-color: orange; color: white; margin: 10px; 
	text-align: center; line-height: 50px; font-size: 18px; border-radius:15px; 
	}

label:hover{ background-color: white; color:black; border: solid rgba(218, 217, 255, 0.9) 5px;}

input[type="radio"]{display: none};

div#friends_recommand{display: none; margin: 0 auto;}
#recommand:checked~div#friends_recommand{ display: block;}

div#friends_find{display: none; margin: 0 auto;}
#find:checked~div#friends_find{ display: block;}

div#friends_favorite{display: none; margin: 0 auto;}
#favorite:checked~div#friends_favorite{ display: block;}


table{ margin: 0 auto; }
td
{
	width: 200px;
	height: 200px;
	border: solid black 5px;
}
#nav
{	
	position: relative;
	width: 1000px;
	height: 50px;
	margin:50px;
	border:solid white 15px;
	border-radius: 50px;
	padding: 30px;
	overflow: hidden;
}
h3{ font-size: 30px; }

#friend_search
{	
	position: absolute;
	left:300px;
	font-size: 30px;
	padding: 5px;
}
#search_button
{
	width : 100px;
	height: 46px;
	display: block;
	float: right;
	position: absolute;
	right: 250px;
	bottom : 33px;
}
td>img{width:200px;height:160px;}
td{
	text-align: center;
}

