div.menu-bar {
	width: 100%;
    height: 90px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

div.logo {
    position: absolute;
    top: 5px;
    left: 10px;
}

div.logo img {
    width: 110px;
    height: 80px;
}

div.sort {
    position: relative;
    top: 50px;
    left: 12%;
}

a.sort-type {
    color: #9d9dff;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

div.simple-menu {
    position: absolute;
    overflow: hidden;
    top: 20px;
    right: 180px;
    width: 915px;
    height: 50px;
    line-height: 50px;
    opacity: 0.7;
}

div.search {
    float: left;
    width: 300px;
    height: 50px;
    margin-right: 100px;
    line-height: 50px;
}

.search form {
    overflow: hidden;
    margin-top: 13px;
}

.search input {
    float: left;
}

.search input[type="text"] {
    font-size: 17px;
    width: 240px;
    height: 24px;
    padding: 3px 5px;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.search input[type="submit"] {
    width: 46px;
    height: 32px;
    outline: none;
    border-radius: 0 10px 10px 0;
}

a.menu {
    float: left;
    width: 100px;
    height: 50px;
    margin-right: 30px;
    text-align: center;
    font-size: 1.6em;
    border-radius: 10px;
}

div.icon {
    float: left;
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

div.simple-menu img {
    width: 50px;
    height: 50px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ div.alarm {
    display: block;
}

input[type="checkbox"]:checked ~ div.alarm-full {
    display: block;
}

div.alarm {
    display: none;
    position: absolute;
    top: 90px;
    right: 430px;
    padding: 0 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #8cc1ff;
    z-index: 10;
}

div.alarm-full {
    display: none;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    top: 90px;
    height: 488px;
    right: 430px;
    padding: 0 10px;
    background-color: white;
    z-index: 10;
}

div.alarm-item {
    line-height: 30px;
    font-size: 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

div.alarm-item-full {
    width: 102%;
    line-height: 30px;
    font-size: 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

div.alarm-item a {
    color: blue;
}

p.center {
    text-align: center;
}

div.alarm-item span.percent {
    color: red;
}

div.user-menu {
	position: absolute;
    top: 0;
    right: 180px;
    height: 90px;
    line-height: 90px;
}

div.user-name {
	display: inline-block;
    margin-right: 10px;
}

span.name {
	font-size: 1.2em;
    font-weight: bold;
}

div.logout-button {
    display: inline-block;
}

div.all-menu-button {
    position: absolute;
    right: 20px;
    top: 10px;
}

img.menu-icon {
	width: 70px;
	height: 70px;
    border-radius: 35px;
}