div#page-wrapper {
    margin: 0 auto;
    width: 1890px;
    padding: 80px 0;
    overflow: hidden;
}

div.movie {
	float: left;
	margin: 39px;
	width: 300px;
	height: 380px;
	border-radius: 10px;
	position: relative;
}

div.poster {
	width: 300px;
	height: 330px;
}

img.poster-img {
	width: 300px;
	height: 330px;
}

div.movie-name {
	width: 300px;
	height: 50px;
	text-align: center;
	color: gray;
	line-height: 50px;
}
div.mgrade
{
	display:none; height:170px; width: 300px;
	position: relative; bottom: 174px;				
}
div.movie:hover div.mgrade{display:block; background-color: rgba(255, 255, 255, 0.7);}
.movie label:hover{background-color: yellow;}

.star{width:55px; height:55px; margin: 15px 0 15px 0;}
div.cover {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
}
.ystar {
	width:55px; height:55px; margin: 15px 0 15px 0;
	display: none;
}
.star1:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.ystar1:hover {
	display: inline-block;
}
.star2:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.star2:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.ystar2:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.ystar2:hover {
	display: inline-block;
}
.star3:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.star3:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.star3:hover ~ div.cover .ystar3 {
	display: inline-block;
}
.ystar3:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.ystar3:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.ystar3:hover {
	display: inline-block;
}
.star4:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.star4:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.star4:hover ~ div.cover .ystar3 {
	display: inline-block;
}
.star4:hover ~ div.cover .ystar4 {
	display: inline-block;
}
.ystar4:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.ystar4:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.ystar4:hover ~ div.cover .ystar3 {
	display: inline-block;
}
.ystar4:hover {
	display: inline-block;
}
.star5:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.star5:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.star5:hover ~ div.cover .ystar3 {
	display: inline-block;
}
.star5:hover ~ div.cover .ystar4 {
	display: inline-block;
}
.star5:hover ~ div.cover .ystar5 {
	display: inline-block;
}
.ystar5:hover ~ div.cover .ystar1 {
	display: inline-block;
}
.ystar5:hover ~ div.cover .ystar2 {
	display: inline-block;
}
.ystar5:hover ~ div.cover .ystar3 {
	display: inline-block;
}
.ystar5:hover ~ div.cover .ystar4 {
	display: inline-block;
}
.ystar5:hover {
	display: inline-block;
}
.heart{width:57px; height:57px;}
.heart:hover{ background-color: black;}
.recom{width:57px; height:57px; line-height: 57px; text-align: center;}
#recom{width:57px; height:57px;}
#recom:hover{ background-color: black;}

h2{color:orange;}
#want{float:right;}
#want1{float:right;}
div.recom{float:left; margin:5px;}