div#page-wrapper {
    margin: 0 auto;
    width: 1890px;
    padding: 80px 0;
    overflow: hidden;
}

div.movie {
	float: left;
	margin: 39px;
	width: 300px;
	height: 380px;
	border-radius: 10px;
	position: relative;
}

div.poster {
	width: 300px;
	height: 330px;
}

img.poster-img {
	width: 300px;
	height: 330px;
}

div.movie-name {
	width: 300px;
	height: 50px;
	text-align: center;
	color: gray;
	line-height: 50px;
}
div.mgrade
{
	display:none; height:180px;
	position: absolute; bottom:50px;				
}
div.movie:hover div.mgrade{display:block;}
div.movie:hover img.poster-img{opacity: 0.5;}
.movie label:hover{background-color: yellow;}

.star{width:57px; height:57px;}
.star:hover{ background-color: yellow;}
.heart{width:57px; height:57px;}
.heart:hover{ background-color: black;}
#recom{width:57px; height:57px;}
#recom:hover{ background-color: black;}

h2{color:orange;}
#want{float:right;}
#want1{float:right;}
div.recom{float:left; margin:5px;}