div#page-wrapper {
    margin: 0 auto;
    width: 1880px;
    position: relative;
}

div.blank {
	height: 90px;
}

div.timeline-board {
	width: 1880px;
	height: 300px;
	background-color: black;
	overflow: hidden;

	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div.timeline-article {
	float: left;
	margin: 0 20px;
	background-color: white;
	width: 425px;
	height: 300px;
	background-size: 425px 300px;
}