div#page-wrapper {
    margin: 0 auto;
    width: 1880px;
    position: relative;
    padding-top: 80px;
}

div.blank {
	height: 60px;
	background-color: azure;
}

div.timeline-board {
	width: 1880px;
	height: 300px;
	background-color: black;
	overflow: hidden;
	position: relative;

	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

div.timeline-article {
	position: relative;
    float: left;
    width: 425px;
    height: 300px;
    margin: 0 20px;
}

div.article {
	padding: 75px 30px 15px 30px;
	background-color: black;
	width: 365px;
	height: 210px;
	font-size: 1.2em;
	position: relative;
	z-index: 1;
	color: white;
}

div.article .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	background-size: 425px 300px;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: -1;
}

div.article .bg:hover {
	opacity: 0.2;
}

div.article-writer {
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: 20px;
	font-weight: bold;
	color: white;
	z-index: 3;
}

div.article-writer img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 20px;
}

div.article-writer .name {
	height: 40px;
	line-height: 40px;
	float: right;
}

div.spoiler {
	position: absolute;
	top: 0;
	left: 0;
	padding: 45px 30px 15px 30px;
	background-color: #FFF9F9;
	width: 365px;
	height: 240px;
	background-color: #c3c3c3;
	z-index: 2;
}

div.spoiler img {
	width: 230px;
	height: 200px;
	position: absolute;
	top: 50px;
	left: 100px;
	z-index: 5;
}