div#page-wrapper {
    margin: 0 auto;
    width: 1880px;
    position: relative;
}

div.blank {
	height: 90px;
	background-color: azure;
}

div.timeline-board {
	width: 1880px;
	height: 300px;
	background-color: black;
	overflow: hidden;
	position: relative;

	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div.timeline-article {
	position: relative;
    float: left;
    width: 425px;
    height: 300px;
    margin: 0 20px;
}

div.article {
	padding: 45px 30px 15px 30px;
	background-color: white;
	width: 365px;
	height: 240px;
	background-size: 425px 300px;
	font-size: 1.2em;
}

div.article-writer {
	position: absolute;
	top: 10px;
	left: 20px;
	font-weight: bold;
}

div.spoiler {
	position: absolute;
	top: 0;
	left: 0;
	padding: 45px 30px 15px 30px;
	background-color: #FFF9F9;
	width: 365px;
	height: 240px;
}

div.spoiler img {
	width: 230px;
	height: 200px;
	position: absolute;
	top: 50px;
	left: 100px;
}