#top{ height: 90px; }
#cover{ width: 100%; height: 230px; margin-bottom: 20px; background-color: gray; position:relative; }
#menu{ position: absolute; bottom:0px; left: 50%;}
div#my_situ_message{ position: absolute; right: 350px; text-align: center; }

div#my_article{display: none; margin: 0 auto;}
#my_article:checked~div#my_article{ display: block;}
.article{ height:300px; margin: 60px; background-image:opacity:0.5; } 
#saw_movie p{ font-size: 35px;  }

div#saw_movie{display: none; margin: 0 auto;}
#saw_movie:checked~div#saw_movie{ display: block; overflow: hidden;}

div#interest_movie{display: none; margin: 0 auto;}
#interest_movie:checked~div#interest_movie{ display: block; overflow: hidden;}

div.saw_movie_list{ float: left; margin:40px; text-align: center; width: 340px;}
img.molist{ width:200px; height:350px; }
div#saw_movie_title{ height: 40px; text-overflow: ellipsis; overflow: hidden; display: block;
white-space: nowrap;}



div.interest_movie_list{ float: left; margin:40px; text-align: center; width: 340px;}
div#interest_movie_title{ height: 40px; text-overflow: ellipsis; overflow: hidden; display: block;
white-space: nowrap;}

div#friends{display: none; margin: 0 auto;}
#friends:checked~div#friends{ display: block; overflow: hidden;}
div.friend{ overflow: hidden; float:left; width: 600px;}

div.friend_profile{float: left; width: 300px;}
#fri_proimg{ width:200px; height:200px; margin:20px; border: solid 10px orange; border-radius: 20px;  }

.content{ width: 1300px; border:1px solid black;}

input{display:none;}

#menu label{ float: left; display:block; width: 150px; height: 50px; 
	background-color: black; color: white; margin: 10px; 
	text-align: center; line-height: 50px; font-size: 18px; border-radius:15px;}
#menu label:hover{ background-color: white; color:black; }	

#profile{ width: 180px; height: 180px; position: absolute; left: 25%; top: 30px; border-radius: 90px;}

