#pagewrapper{ width:1880px; margin: 0 auto;}
#content{ height: 700px; overflow: hidden;}
#article{ margin: 30px; padding:10px; width: 1800px; height:600px; border: solid black 2px; float: left; overflow: auto; background-size: 1820px 620px;  }
#top{ height: 90px; }
textarea{ float:left; width: 1300px; height: 600px; font-size: 25px; margin-right: 10px; background-size: 1300px 600px;}
input[type="file"]{width: 400px; font-size: 30px;}
#submit1{border-radius: 40px;  box-shadow: 0 5px #999; color: white; }
#submit1:hover{background-color: #3e8e41}
#submit1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


table[id="menu1"]{ width: 400px; }
table[id="menu1"] td{font-size: 31px;}
table[id="menu1"] th{font-size: 32px; font-color: white;}
table select {width: 150px; height: 40px; font-size: 25px;}
table input[type="radio"]{width: 20px; height: 20px;}
table input[type="submit"]{font-size: 30px; width: 300px; height: 50px;}
table[id="menu2"]{width: 400px; }
table[id="menu2"] td{font-size: 31px; }
#imgload{  }